{% extends "base.html" %}
{% block title %}Generate Kubeconfig Page{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Kubeconfig Generator</h1>
    
<form action="#" method="post">
    <p>USER NAME: <input type="text" name="username" placeholder="name.surname@email" /></p>
    <p>GROUP NAME: <input type="text" name="groupname" placeholder="guest/developer/admin"/></p>
    <p>CLUSTER NAME: <input type="text" name="clustername" placeholder="mycluster"/></p>
    <p><input type="submit" class="btn btn-secondary" value="submit" /></p>
</form>

</div>
{% endblock %}