{% extends "base.html" %}
{% block title %}Generate Kubeconfig Page{% endblock %}

{% block content %}

<h1 style="background-color:SlateGray;color:GhostWhite;text-indent:30px;">KUBECONFIG GENERATOR</h1>

<style>
    p {
      color: SlateGray;
      text-indent: 30px;
      text-transform: uppercase;
      font-weight: bold;
    }
    </style>
    
<form action="#" method="post">
    <p>USER_NAME: <input type="text" name="username" placeholder="name.surname@email" /></p>
    <p>GROUP_NAME: <input type="text" name="groupname" placeholder="guest/developer/admin"/></p>
    <p>CLUSTER_NAME: <input type="text" name="clustername" placeholder="mycluster"/></p>
    <p><input type="submit" class="btn btn-secondary" value="submit" /></p>
</form>

{% endblock %}